.search-landing {
  width: 600px;
  height: 80px;
  background-color: rgb(208, 208, 208);
  border-radius: 8px;
  display: flex;
  justify-content: center;

  position: absolute;
  margin: -40px 0 0 -300px;
  top: 50%;
  left: 50%;
}

.search-image {
  float: left;
  padding-left: 20px;
}

.search-text {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  align-self: center;
}