.search-landing-results {
  list-style-type: none;
  background-color: rgb(233, 233, 233);
  border-radius: 0 0 8px 8px;
  padding: 0;
}

.search-landing-results--item {
  padding: 12px;
  cursor: pointer;
}

.search-landing-results--item:hover {
  filter: brightness(0.8);
}

.search-landing-results--item.primary-bg {
  background-color: rgb(233, 233, 233);
}

.search-landing-results--item.alt-bg {
  background-color: rgb(198, 198, 198);
}
