.search-landing-results {
  list-style-type: none;
  background-color: rgb(233, 233, 233);
}

.search-landing-results--item {
  padding: 12px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.search-landing-results--item:hover {
  filter: opacity(1);
}

.search-landing-results--item:not(:hover) {
  filter: opacity(0.6);
}
